$primaryColor: green;

$logoFont: 'Lobster', cursive;
$textFont: 'Noto Sans', sans-serif;

$spacing: 30px;

$headerSizeTop: 10px;
$headerSizeSide: 10px;

$accountLeftSize: 12px;
$accountInfoTop: 5px;

$backgroundColor: #f2f3f5;
$borderColor: #ebedf0;
$whiteColor: #ffffff;
$grayColor: rgb(115, 115, 115);
